<h3>Answers</h3>

{{#if addNewAnswer}}
<h1>New Answer</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="content">Answer</label>
        {{input value=content id="content"}}
      </div>
      <button class="btn btn-default btn-sm" {{action 'saveAnswer'}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-default btn-sm" {{action 'answerFormShow'}}>New Answer</button>
{{/if}}

<ul>
  {{#each question.answers as |answer|}}
    <li>{{answer.content}} ~by {{answer.author}}</li>
  {{/each}}
</ul>
