
<div class="container">

	<h1>What would you like to ask?</h1>

	<div class="new-q-btn">
			{{new-question saveQuestion="saveQuestion"}}
	</div>

	<br>
	<h4>Total Questions: {{model.questions.length}}</h4>

	<ul id="all-qs">
	  {{#each model.questions as |question|}}
	    {{question-tile question=question}}
			<br>
	  {{/each}}
	</ul>


	<h2> All Answers </h2>

	{{new-answer saveAnswer="saveAnswer"}}

	<ul>
	  {{#each model.answers as |answer|}}
	    <li>{{answer.content}} ~by {{answer.author}}</li>
	  {{/each}}
	</ul>

</div>
